header{
  text-align: center;
}
#featured-property figure img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
}
#featured-property figcaption{
  font-size: small;
  text-align: center;
}
#featured-property p{
  width: 800px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#details div{
  float: left;
font-size: small;
text-align: center;
width: 25%;
background-color: aqua;
}